@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles must be inside a layer */
@layer base {
  body {
    @apply bg-slate-50 text-slate-800;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-md shadow-sm bg-indigo-600 text-white hover:bg-indigo-700;
  }

  .card {
    @apply bg-white p-4 rounded-lg shadow-sm;
  }

  .table {
    @apply w-full text-left border-collapse;
  }
}
